openapi: 3.0.3
info:
  title: Pionex Bot Open API
  description: |
    Pionex cryptocurrency exchange Bot RESTful API - Bot Order List & Futures Grid Bot & Spot Grid Bot endpoints.

    # General Info

    ## Basic Info

    > **Note:** The Bot API is currently in **Beta**. If you would like to use it, please contact us at [open@pionex.com](mailto:open@pionex.com).

    **Base URL:** `https://api.pionex.com`

    **Request Format:**
    - For private requests, the `timestamp` parameter (in milliseconds) must be included in the query string. The timestamp is valid within a range of +/-20 seconds.
    - Private requests require `PIONEX-KEY` (API Key) and `PIONEX-SIGNATURE` headers.
    - GET requests: additional parameters are passed in the query string.
    - POST/DELETE requests: parameters are passed in the request body as JSON (`application/json`).
    - Zero-valued number parameters are disregarded.

    **Signature Construction:**
    - GET: `METHOD + PATH_URL + QUERY + TIMESTAMP`
    - POST/DELETE: `METHOD + PATH_URL + QUERY + TIMESTAMP + body`

    **Response Format:**

    All responses are JSON objects containing:
    - `result` (boolean): success indicator
    - `timestamp` (number): response timestamp in milliseconds
    - On success: `data` object with business information
    - On failure: `code` (string) and `message` (string) with error details

    Success example:
    ```json
    {"result": true, "data": {"buOrderId": "123456789"}, "timestamp": 1566691672311}
    ```

    Failure example:
    ```json
    {"result": false, "code": "PARAMETER_ERROR", "message": "Invalid parameter", "timestamp": 1566691672311}
    ```

    ## Rate Limits

    - Each endpoint has a weight value that determines how many requests it counts toward the limit.
    - IP-based and account-based limits operate independently.
    - All endpoints share the 10 per second limit based on IP.
    - Private endpoints share the 10 per second limit based on ACCOUNT.
    - Exceeding the weight limit results in HTTP 429 status code.

    ## Authentication

    [API Key Guide](https://www.pionex.com/docs/api-docs/references/api-key-guide)

    Private endpoints require HMAC SHA256 signature authentication.

    **Required headers:**
    - `PIONEX-KEY`: Your API Key
    - `PIONEX-SIGNATURE`: HMAC SHA256 hex signature

    **Required query parameter:**
    - `timestamp`: Current time in milliseconds (valid within +/-20 seconds)

    ### API Key Permissions

    Each API Key can be configured with **Bot reading**, **Bot trading**, and/or **Enable reading** permissions. Make sure your API Key has the appropriate permission enabled before calling the following endpoints.

    **Endpoints requiring `Bot reading` permission:**
    - `GET /api/v1/bot/orders` — Get bot order list
    - `GET /api/v1/bot/orders/futuresGrid/order` — Get futures grid order
    - `GET /api/v1/bot/orders/spotGrid/order` — Get spot grid order
    - `GET /api/v1/bot/orders/spotGrid/aiStrategy` — Get spot grid AI strategy
    - `POST /api/v1/bot/orders/futuresGrid/checkParams` — Check futures grid parameters
    - `POST /api/v1/bot/orders/spotGrid/checkParams` — Check spot grid parameters
    - `POST /api/v1/bot/orders/smartCopy/checkParams` — Check smart copy parameters
    - `GET /api/v1/bot/orders/smartCopy/order` — Get smart copy order

    **Endpoints requiring `Enable reading` permission:**
    - `POST /api/v1/bot/signal/listener` — Push custom trading signal

    **Endpoints requiring `Bot trading` permission:**
    - `POST /api/v1/bot/orders/futuresGrid/create` — Create futures grid order
    - `POST /api/v1/bot/orders/futuresGrid/adjustParams` — Adjust futures grid (add investment / modify range)
    - `POST /api/v1/bot/orders/futuresGrid/reduce` — Reduce futures grid position
    - `POST /api/v1/bot/orders/futuresGrid/cancel` — Cancel futures grid order
    - `POST /api/v1/bot/orders/spotGrid/create` — Create spot grid order
    - `POST /api/v1/bot/orders/spotGrid/adjustParams` — Adjust spot grid parameters
    - `POST /api/v1/bot/orders/spotGrid/investIn` — Add investment to spot grid
    - `POST /api/v1/bot/orders/spotGrid/cancel` — Cancel spot grid order
    - `POST /api/v1/bot/orders/spotGrid/profit` — Extract profit from spot grid
    - `POST /api/v1/bot/orders/smartCopy/create` — Create smart copy order
    - `POST /api/v1/bot/orders/smartCopy/cancel` — Cancel smart copy order
  version: 1.0.0
  contact:
    name: Pionex API Support
    url: https://t.me/pionexapi

servers:
  - url: https://api.pionex.com
    description: Production

security: []

tags:
  - name: Bot Orders
    description: Bot order list query (private)
  - name: Futures Grid
    description: Futures Grid Bot management (private)
  - name: Spot Grid
    description: Spot Grid Bot management (private)
  - name: Smart Copy
    description: Smart Copy Bot management (private)
  - name: Signal
    description: Custom signal listener (private)

paths:
  /api/v1/bot/orders:
    get:
      tags: [Bot Orders]
      summary: Get bot order list
      description: "Query bot order list with optional filters by order type, status, and trading pair. Supports pagination. Weight: 1."
      operationId: getBotOrders
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: status
          in: query
          description: |
            Order status filter:
            `running` - Running orders (default),
            `finished` - Closed/cancelled orders
          schema:
            type: string
            default: running
        - name: base
          in: query
          description: Base currency filter (e.g. BTC)
          schema:
            type: string
        - name: quote
          in: query
          description: Quote currency filter (e.g. USDT)
          schema:
            type: string
        - name: pageToken
          in: query
          description: Pagination token (from `nextPageToken` or `previousPageToken` in response)
          schema:
            type: string
        - name: buOrderTypes
          in: query
          description: |
            Order type filter. Can pass multiple values. If omitted, returns all types.
            Supported values: `futures_grid`, `spot_grid`, `smart_copy`.
          schema:
            type: array
            items:
              type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/BotOrderListResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/order:
    get:
      tags: [Futures Grid]
      summary: Get futures grid order
      description: "Query a futures grid bot order by ID. Weight: 1."
      operationId: getFuturesGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: buOrderId
          in: query
          required: true
          description: Bot order ID
          schema:
            type: string
        - name: lang
          in: query
          description: Language
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/create:
    post:
      tags: [Futures Grid]
      summary: Create futures grid order
      description: "Create a new futures grid bot order. Weight: 1."
      operationId: createFuturesGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateFuturesGridRequest'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          buOrderData:
                            type: object
                            description: Bot order data
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/checkParams:
    post:
      tags: [Futures Grid]
      summary: Check futures grid parameters
      description: |
        Validate futures grid bot creation parameters and estimate investment values without creating an order. Weight: 1.

        Pass a positive `quote_investment` to receive full estimate fields.
        The current market price is fetched automatically — `open_price` is not required.

        **FailedWithData**: For errors marked "Yes" below, the response includes a `data` field
        even when `result=false`, containing `min_investment`, `max_investment`, and `slippage`
        so the client can display the valid investment range.

        **Validation error messages** (returned in `message` when `result` is `false`):

        | Message | Cause | Includes data |
        |---|---|---|
        | `base should end with .PERP` | `base` must end with `.PERP`, e.g. `BTC.PERP` | No |
        | `invalid trend` | `trend` must be `long`, `short`, or `no_trend` | No |
        | `invalid grid_type` | `grid_type` must be `arithmetic` or `geometric` | No |
        | `bottom must greater than 0` | `bottom` must be a positive number | No |
        | `top must greater than bottom` | `top` must be strictly greater than `bottom` | No |
        | `top must less or equal than max:{maxPrice}` | `top` exceeds the symbol's maximum allowed price | No |
        | `top not match quote precision` | `top` has more decimal places than the symbol allows | No |
        | `bottom not match quote precision` | `bottom` has more decimal places than the symbol allows | No |
        | `row must greater than 1` | `row` must be >= 2 | No |
        | `row must less than 501` | `row` must be <= 500 | No |
        | `invalid leverage` | `leverage` is outside the symbol's allowed leverage range | No |
        | `extra_margin should greater than or equal 0` | `extra_margin_amount` must be >= 0 | No |
        | `invalid condition_direction` | `condition_direction` must be `""`, `"1"`, or `"-1"` | No |
        | `quote_investment not match spending precision: max {N} decimal places` | `quote_investment` exceeds the allowed decimal precision | Yes |
        | `extra_margin_amount not match spending precision: max {N} decimal places` | `extra_margin_amount` exceeds the allowed decimal precision | Yes |
        | `grid profit per volume less than 0` | Grid range too narrow or `row` too large — profit per grid is negative | Yes |
        | `less than min investment` | `quote_investment` is `"0"` or less than `min_investment` | Yes |
      operationId: checkFuturesGridParams
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckFuturesGridParamsRequest'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/FuturesGridCheckParamsData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/adjustParams:
    post:
      tags: [Futures Grid]
      summary: Adjust futures grid (add investment / modify range)
      description: "Add investment, modify grid range, or set trigger investment for a futures grid order. Weight: 1."
      operationId: adjustFuturesGridParams
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustFuturesGridRequest'
      responses:
        '200':
          description: Adjustment applied successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/reduce:
    post:
      tags: [Futures Grid]
      summary: Reduce futures grid position
      description: "Reduce position size of a futures grid order. Weight: 1."
      operationId: reduceFuturesGrid
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ReduceFuturesGridRequest'
      responses:
        '200':
          description: Reduction result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/ReduceFuturesGridResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/futuresGrid/cancel:
    post:
      tags: [Futures Grid]
      summary: Cancel futures grid order
      description: "Close and cancel a futures grid bot order. Weight: 1."
      operationId: cancelFuturesGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelFuturesGridRequest'
      responses:
        '200':
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # -------------------------------------------------------------------------
  # Spot Grid
  # -------------------------------------------------------------------------

  /api/v1/bot/orders/spotGrid/order:
    get:
      tags: [Spot Grid]
      summary: Get spot grid order
      description: "Query a spot grid bot order by ID. Weight: 1."
      operationId: getSpotGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: buOrderId
          in: query
          required: true
          description: Bot order ID
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SpotGridOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/aiStrategy:
    get:
      tags: [Spot Grid]
      summary: Get spot grid AI strategy
      description: "Query AI-recommended grid strategy parameters for a trading pair. Weight: 1."
      operationId: getSpotGridAiStrategy
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: base
          in: query
          required: true
          description: Base currency (e.g. BTC)
          schema:
            type: string
        - name: quote
          in: query
          required: true
          description: Quote currency (e.g. USDT)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SpotGridAiStrategy'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/create:
    post:
      tags: [Spot Grid]
      summary: Create spot grid order
      description: "Create a new spot grid bot order. Weight: 1."
      operationId: createSpotGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSpotGridRequest'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SpotGridOrder'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/checkParams:
    post:
      tags: [Spot Grid]
      summary: Check spot grid parameters
      description: |
        Validate spot grid bot creation parameters and estimate investment values without creating an order. Weight: 1.

        Pass a positive `quote_total_investment` to receive full estimate fields.
        The current market price is fetched automatically — `open_price` is not required.

        **FailedWithData**: For errors marked "Yes" below, the response includes a `data` field
        even when `result=false`, containing `min_investment`, `max_investment`, and `slippage`
        so the client can display the valid investment range.

        **Validation error messages** (returned in `message` when `result` is `false`):

        | Message | Cause | Includes data |
        |---|---|---|
        | `number invalid: {value}` | `top` or `bottom` is not a valid numeric string | No |
        | `number int too long: {value}` | Integer part of `top` or `bottom` exceeds 15 digits | No |
        | `number decimal too long: {value}` | Decimal part of `top` or `bottom` exceeds 15 digits | No |
        | `invalid quote total investment` | `quote_total_investment` must be >= 0 | No |
        | `bottom must be less than top` | `bottom` must be strictly less than `top` | No |
        | `row must be between 2 and 1000` | `row` must be in the range [2, 1000] | No |
        | `invalid grid_type` | `grid_type` must be `arithmetic` or `geometric` | No |
        | `grid price duplicated: reduce row or widen range` | Grid range too narrow or `row` too large — adjacent grid prices are identical | Yes |
        | `quote_total_investment not match quote precision: max {N} decimal places` | `quote_total_investment` exceeds the allowed decimal precision | Yes |
        | `less than min investment` | `quote_total_investment` is `"0"` or less than `min_investment` | Yes |
      operationId: checkSpotGridParams
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckSpotGridParamsRequest'
      responses:
        '200':
          description: Validation result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SpotGridCheckParamsData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/adjustParams:
    post:
      tags: [Spot Grid]
      summary: Adjust spot grid parameters
      description: "Modify grid range (top/bottom/row) or adjust investment for a running spot grid order. Weight: 1."
      operationId: adjustSpotGridParams
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AdjustSpotGridParamsRequest'
      responses:
        '200':
          description: Adjustment applied successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          action_id:
                            type: string
                            description: Adjustment action ID
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/investIn:
    post:
      tags: [Spot Grid]
      summary: Add investment to spot grid
      description: "Add additional investment to a running spot grid order. Weight: 1."
      operationId: investInSpotGrid
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/InvestInSpotGridRequest'
      responses:
        '200':
          description: Investment added successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        type: object
                        properties:
                          action_id:
                            type: string
                            description: Investment action ID
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/cancel:
    post:
      tags: [Spot Grid]
      summary: Cancel spot grid order
      description: "Close and cancel a spot grid bot order. Weight: 1."
      operationId: cancelSpotGridOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSpotGridRequest'
      responses:
        '200':
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/spotGrid/profit:
    post:
      tags: [Spot Grid]
      summary: Extract profit from spot grid
      description: "Extract accumulated grid profit from a running spot grid order. Weight: 1."
      operationId: profitSpotGrid
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ProfitSpotGridRequest'
      responses:
        '200':
          description: Profit extracted successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/TransferRecord'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # -------------------------------------------------------------------------
  # Smart Copy
  # -------------------------------------------------------------------------

  /api/v1/bot/orders/smartCopy/order:
    get:
      tags: [Smart Copy]
      summary: Get smart copy order
      description: "Query a smart copy bot order by ID. Weight: 1."
      operationId: getSmartCopyOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
        - name: buOrderId
          in: query
          required: true
          description: Bot order ID (UUID, 36 chars)
          schema:
            type: string
        - name: lang
          in: query
          description: Language code (e.g. en, zh)
          schema:
            type: string
      responses:
        '200':
          description: Successful response
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/SmartCopyOrderDetail'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/smartCopy/checkParams:
    post:
      tags: [Smart Copy]
      summary: Check smart copy parameters
      description: |
        Validate smart copy bot creation parameters and check the maximum investment limit. Weight: 1.

        **Requires `Bot reading` permission.**

        Returns the maximum allowed investment, maximum leverage, and notional/available limits for the given base/quote/signal combination.
      operationId: checkSmartCopyParams
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CheckSmartCopyParamsRequest'
      responses:
        '200':
          description: Check result
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CheckSmartCopyParamsData'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/smartCopy/create:
    post:
      tags: [Smart Copy]
      summary: Create smart copy order
      description: "Create a new smart copy bot order. Weight: 1."
      operationId: createSmartCopyOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateSmartCopyOrderRequest'
      responses:
        '200':
          description: Order created successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CreateSmartCopyOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  /api/v1/bot/orders/smartCopy/cancel:
    post:
      tags: [Smart Copy]
      summary: Cancel smart copy order
      description: "Close and cancel a smart copy bot order. Weight: 1."
      operationId: cancelSmartCopyOrder
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CancelSmartCopyOrderRequest'
      responses:
        '200':
          description: Order cancelled successfully
          content:
            application/json:
              schema:
                allOf:
                  - $ref: '#/components/schemas/BaseResponse'
                  - type: object
                    properties:
                      data:
                        $ref: '#/components/schemas/CancelSmartCopyOrderResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

  # -------------------------------------------------------------------------
  # Signal
  # -------------------------------------------------------------------------

  /api/v1/bot/signal/listener:
    post:
      tags: [Signal]
      summary: Push custom trading signal
      description: |
        Push a custom trading signal to drive smart copy orders. Weight: 1.

        **Requires `Enable reading` permission.** Signal sending must additionally be enabled for your account — contact [open@pionex.com](mailto:open@pionex.com) to request access.
      operationId: signalListener
      security:
        - apiKey: []
      parameters:
        - $ref: '#/components/parameters/Timestamp'
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SignalListenerRequest'
      responses:
        '200':
          description: Signal received successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BaseResponse'
        '400':
          $ref: '#/components/responses/BadRequest'
        '401':
          $ref: '#/components/responses/Unauthorized'

components:
  securitySchemes:
    apiKey:
      type: apiKey
      in: header
      name: PIONEX-KEY
      description: |
        API Key authentication. Requires two headers:
        - `PIONEX-KEY`: Your API Key
        - `PIONEX-SIGNATURE`: HMAC SHA256 hex signature

        And a `timestamp` query parameter (milliseconds).

  parameters:
    Timestamp:
      name: timestamp
      in: query
      required: true
      description: Current timestamp in milliseconds (valid range +/- 20 seconds)
      schema:
        type: integer
        format: int64

  responses:
    BadRequest:
      description: Bad request
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
    Unauthorized:
      description: Authentication failed
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'

  schemas:
    BaseResponse:
      type: object
      properties:
        result:
          type: boolean
          description: Request success indicator
        timestamp:
          type: integer
          format: int64
          description: Response timestamp in milliseconds

    ErrorResponse:
      type: object
      properties:
        result:
          type: boolean
          example: false
        code:
          type: string
          description: Error code
        message:
          type: string
          description: Human-readable error message
        timestamp:
          type: integer
          format: int64

    BotOrderListResponse:
      type: object
      description: Bot order list response with pagination
      properties:
        nextPageToken:
          type: string
          nullable: true
          description: Token to fetch the next page
        previousPageToken:
          type: string
          nullable: true
          description: Token to fetch the previous page
        results:
          type: array
          description: List of bot orders
          items:
            $ref: '#/components/schemas/BotOrder'

    BotOrder:
      type: object
      description: Bot order result
      properties:
        buOrderType:
          type: string
          description: |
            Bot order type. Supported values: `futures_grid`, `spot_grid`, `smart_copy`.
        buOrderId:
          type: string
          description: Bot order ID
        userId:
          type: string
          description: User ID
        keyId:
          type: string
          description: API Key ID
        exchange:
          type: string
          description: Exchange identifier
          example: pionex.v2
        base:
          type: string
          description: Base currency
          example: BTC
        quote:
          type: string
          description: Quote currency
          example: USDT
        status:
          type: string
          description: Order status
        createTime:
          type: integer
          format: int64
          description: Creation timestamp in milliseconds
        closeTime:
          type: integer
          format: int64
          description: Close timestamp in milliseconds
        copyFrom:
          type: string
          description: Copy source order ID
        copyType:
          type: string
          description: Copy type
        strategyId:
          type: string
          description: Strategy ID
        canceling:
          type: integer
          format: int64
          description: Canceling flag
        note:
          type: string
          description: Order note
        closeNote:
          type: string
          description: Close note
        customizeName:
          type: string
          description: Custom name
        botName:
          type: string
          description: Bot name
        groupId:
          type: string
          description: Group ID
        copyBotOrderId:
          type: string
          description: Copy bot order ID
        buOrderData:
          type: object
          description: "Order detail data (dynamic structure depending on buOrderType)"

    FuturesGridOrder:
      type: object
      properties:
        keyId:
          type: string
          description: API Key ID
        userId:
          type: string
          description: User ID
        exchange:
          type: string
          description: Exchange identifier
          example: pionex.v2
        base:
          type: string
          description: Base currency
          example: BTC
        quote:
          type: string
          description: Quote currency
          example: USDT
        status:
          type: string
          description: Order status
        createTime:
          type: number
          description: Creation timestamp in milliseconds
        copyFrom:
          type: string
          description: Copy source order ID
        copyType:
          type: string
          description: Copy type
        groupId:
          type: string
          description: Bound group ID
        copyBotOrderId:
          type: string
          description: Copy bot order ID
        note:
          type: string
          description: Note
        customizeName:
          type: string
          description: Custom name
        buOrderData:
          $ref: '#/components/schemas/FuturesGridOrderData'

    FuturesGridOrderData:
      type: object
      properties:
        status:
          type: string
          description: |
            Bot status:
            `prepare`, `lock_currency`, `condition_lock`, `open_position`, `init_grid`,
            `running`, `destroy_grid`, `close_position`, `unlock_currency`, `canceled`,
            `adjust_params`, `adjust_params_open_position`, `adjust_params_init_grid`,
            `pre_pause`, `pausing`, `paused`, `pre_resume`, `resuming`
          enum:
            - prepare
            - lock_currency
            - condition_lock
            - open_position
            - init_grid
            - running
            - destroy_grid
            - close_position
            - unlock_currency
            - canceled
            - adjust_params
            - adjust_params_open_position
            - adjust_params_init_grid
            - pre_pause
            - pausing
            - paused
            - pre_resume
            - resuming
        reasonBy:
          type: string
          description: |
            Close reason:
            `user_cancel` - User cancelled,
            `force_liquidation` - Liquidated,
            `loss_stop` - Stop loss triggered,
            `profit_stop` - Take profit triggered,
            `not_enough_balance` - Insufficient balance during running,
            `not_enough_balance_when_lock` - Lock funds failed after order,
            `create_failed` - Order creation failed
          enum:
            - user_cancel
            - force_liquidation
            - loss_stop
            - profit_stop
            - not_enough_balance
            - not_enough_balance_when_lock
            - create_failed
        top:
          type: string
          description: Grid upper price
        bottom:
          type: string
          description: Grid lower price
        row:
          type: number
          description: Number of grid levels
        gridType:
          type: string
          description: "Grid spacing type: `arithmetic` (equal difference) or `geometric` (equal ratio)"
          enum: [arithmetic, geometric]
        openPrice:
          type: string
          description: Current price at creation
        trend:
          type: string
          description: "Grid direction: `long`, `short`, or `no_trend` (neutral)"
          enum: [long, short, no_trend]
        type:
          type: string
          description: "Operation type (e.g. `invest_in` for adding investment)"
        leverage:
          type: number
          description: Leverage multiplier
        extraMargin:
          type: string
          description: Extra margin amount
        quoteInvestment:
          type: string
          description: Total investment amount
        perVolume:
          type: string
          description: Volume per grid level
        position:
          type: string
          description: Current position size
        positionOpenPrice:
          type: string
          description: Position open price
        marginBalance:
          type: string
          description: Margin balance (after leverage)
        extraBalance:
          type: string
          description: Extra balance
        liquidationTriggered:
          type: boolean
          description: Whether liquidation was triggered
        liquidationPrice:
          type: string
          description: Liquidation price
        liquidationFee:
          type: string
          description: Liquidation fee
        estimateLiquidationPriceUp:
          type: string
          description: Estimated liquidation price (upward)
        estimateLiquidationPriceDown:
          type: string
          description: Estimated liquidation price (downward)
        lossStopType:
          type: string
          description: |
            Stop loss type:
            `price` - By market price (default),
            `profit_amount` - By P&L amount,
            `profit_ratio` - By P&L ratio,
            `price_limit` - By limit price
          enum: [price, profit_amount, profit_ratio, price_limit]
        lossStop:
          type: string
          description: |
            Stop loss value. Interpretation depends on lossStopType:
            `price` -> stop loss price,
            `profit_amount` -> stop loss amount,
            `profit_ratio` -> stop loss ratio
        profitStopType:
          type: string
          description: |
            Take profit type:
            `price` - By price (default),
            `profit_amount` - By profit amount,
            `profit_ratio` - By profit ratio,
            `price_limit` - By limit price
          enum: [price, profit_amount, profit_ratio, price_limit]
        profitStop:
          type: string
          description: |
            Take profit value. Interpretation depends on profitStopType:
            `price` -> take profit price,
            `profit_amount` -> profit amount,
            `profit_ratio` -> profit ratio
        riskStatus:
          type: string
          description: "Risk status"
          enum: [TRADING, HOLDING, TAKEOVER, LIQUIDATION]
          default: TRADING
        lossStopHigh:
          type: string
          description: Upper stop loss price for neutral grid (above top)
        pausePrice:
          type: string
          description: Price when paused
        profitWithdrawn:
          type: string
          description: Total profit withdrawn
        openQuotePrice:
          type: string
          description: Average quote-to-USDT price for investment
        closeSellModel:
          type: string
          description: |
            Close sell mode:
            `TO_QUOTE` - Close position only,
            `TO_USDT` - Close position and sell quote to USDT
          enum: [TO_QUOTE, TO_USDT]
        quoteAmountBeforeSell:
          type: string
          description: Quote amount before closing
        quoteAmountSell:
          type: string
          description: Quote amount sold on close
        quoteSellPrice:
          type: string
          description: Quote sell price on close
        unlockUsdtAmount:
          type: string
          description: USDT returned to main account (only when TO_USDT)
        unlockQuoteAmount:
          type: string
          description: Quote returned to main account
        initQuotePrice:
          type: string
          description: Quote/USDT price at order creation
        closedQuotePrice:
          type: string
          description: Quote/USDT price at close
        shareRatio:
          type: string
          description: Profit sharing ratio
        sharedProfit:
          type: string
          description: Shared profit amount
        marginStatus:
          type: string
          description: "Margin status: `NORMAL` or `INSUFFICIENT`"
          enum: [NORMAL, INSUFFICIENT]
          default: NORMAL
        investCoin:
          type: string
          description: "Investment currency. `USDT` or quote currency (e.g. BTC)"
        investmentFrom:
          type: string
          description: |
            Funding source:
            `USER` - User main account,
            `LOCK_ACTIVITY` - Lock activity pool,
            `FUTURE_GRID_BONUS` - Bonus pool
          enum: [USER, LOCK_ACTIVITY, FUTURE_GRID_BONUS]
        lockEndTime:
          type: number
          description: Lock end time in milliseconds
        profitWithdrawnU:
          type: string
          description: Profit withdrawn (user portion)
        profitWithdrawnC:
          type: string
          description: Profit withdrawn (charity/bonus portion)
        profitWithdrawnP:
          type: string
          description: Profit withdrawn (Pionex/bonus fee portion)
        usdtInvestment:
          type: string
          description: USDT investment amount
        uiInvestCoin:
          type: string
          description: Frontend-recorded investment currency type
        uiExtraData:
          type: string
          description: Frontend extra data for coin-margined futures grid
        stopLossEnabled:
          type: boolean
          description: Stop loss enabled while paused
        stopProfitEnabled:
          type: boolean
          description: Take profit enabled while paused
        triggerPausePriceUp:
          type: string
          description: Price trigger for pause (upward)
        triggerPausePriceDown:
          type: string
          description: Price trigger for pause (downward)
        profitReduce:
          type: string
          description: Grid profit from position reduction (accumulated)
        closeOrderType:
          type: string
          description: |
            Close order type:
            `market` - Market price close,
            `limit` - Limit price close,
            `limit_high` - Neutral grid top limit close
          enum: [market, limit, limit_high]
        closedBaseAmount:
          type: string
          description: Closed position amount
        lossStopLimitPrice:
          type: string
          description: Limit stop loss price (when lossStopType=price_limit)
        lossStopLimitHighPrice:
          type: string
          description: Upper limit stop loss price for neutral grid (when lossStopType=price_limit)
        profitStopLimitPrice:
          type: string
          description: Limit take profit price (when profitStopType=price_limit)
        slippage:
          type: string
          description: "Open position slippage (e.g. \"0.01\" = 1%)"
        bonusId:
          type: string
          description: Bonus UUID (when investmentFrom=FUTURE_GRID_BONUS)
        bonusBackUsdt:
          type: string
          description: USDT recovered from bonus on close
        bonusBackQuote:
          type: string
          description: Quote recovered from bonus on close
        notionalStatus:
          type: string
          description: "Notional status: `NORMAL` or `NOTIONAL_LIMIT`"
          enum: [NORMAL, NOTIONAL_LIMIT]
          default: NORMAL
        closeSlippage:
          type: string
          description: "Close position slippage (e.g. \"0.01\" = 1%)"
        bonusFeeRatio:
          type: string
          description: "Bonus fee ratio (e.g. \"0.2\" = 20%)"
        bonusFee:
          type: string
          description: Bonus management fee recovered on close (in quote)
        disableChangeTp:
          type: boolean
          description: Whether modification of take profit is disabled
        disableInvestInTrigger:
          type: boolean
          description: Whether trigger investment is disabled
        investInTriggers:
          type: array
          description: Pending trigger investment list (max 1 item)
          items:
            $ref: '#/components/schemas/InvestInTrigger'
        investOutTriggers:
          type: array
          description: Pending trigger reduction list (max 1 item)
          items:
            $ref: '#/components/schemas/InvestOutTrigger'
        autoExpiredTime:
          type: number
          description: Auto-close timestamp in milliseconds (for bonus orders)
        movingIndicatorType:
          type: string
          description: "Moving indicator type (e.g. `sma`)"
        movingIndicatorInterval:
          type: string
          description: "Moving indicator interval (e.g. 1m, 15m, 30m, 1h, 4h, 12h)"
        movingIndicatorParam:
          type: string
          description: 'Moving indicator parameters JSON (e.g. {"length":720})'
        movingTrailingUpParam:
          type: string
          description: "SMA trailing up trigger ratio (e.g. 0.05)"
        cateType:
          type: string
          description: |
            Category type:
            `FUTURES_MOON` - Futures moon order,
            `FULLY_HEDGING` - Fully hedged order,
            `LOAN_GRID` - Loan grid,
            `LEVERAGE_GRID` - Leverage grid,
            `FUTURE_GRID_COIN_MARGINED` - Coin-margined futures grid
          enum:
            - FUTURES_MOON
            - FULLY_HEDGING
            - LOAN_GRID
            - LEVERAGE_GRID
            - FUTURE_GRID_COIN_MARGINED
        movingTop:
          type: string
          description: Moving grid upper limit
        movingBottom:
          type: string
          description: Moving grid lower limit
        profitExited:
          type: string
          description: Exited profit
        fundingFeePayment:
          type: string
          description: Total funding fee paid (negative value)
        enableFollowClosed:
          type: boolean
          description: Whether to follow close (requires original order to enable follow close)

    InvestInTrigger:
      type: object
      properties:
        condition:
          type: string
          description: Trigger investment price
        conditionDirection:
          type: string
          description: "Direction: \"1\" (above current price), \"-1\" (below current price)"
          enum: ["1", "-1"]
        quoteInvestment:
          type: string
          description: Trigger investment amount
        extraMarginAmount:
          type: string
          description: Trigger dynamic margin
        addTime:
          type: number
          description: Add time in milliseconds
        investCoin:
          type: string
          description: Investment currency (currently only supports quote)

    InvestOutTrigger:
      type: object
      properties:
        condition:
          type: string
          description: Trigger reduction price
        conditionDirection:
          type: string
          description: "Direction: \"1\" (above current price), \"-1\" (below current price)"
          enum: ["1", "-1"]
        reduceNum:
          type: number
          description: "Reduction amount: order precision * reduceNum"
        addTime:
          type: number
          description: Add time in milliseconds

    CreateFuturesGridRequest:
      type: object
      required: [base, quote, buOrderData]
      properties:
        base:
          type: string
          description: Base currency
          example: BTC
        quote:
          type: string
          description: Quote currency
          example: USDT
        copyFrom:
          type: string
          description: Copy source order ID
        copyType:
          type: string
          description: Copy type
        copyBotOrderId:
          type: string
          description: Copy bot order ID
        buOrderData:
          $ref: '#/components/schemas/CreateFuturesGridOrderData'

    CreateFuturesGridOrderData:
      type: object
      required: [top, bottom, row, grid_type, trend, leverage, quoteInvestment]
      properties:
        top:
          type: string
          description: Grid upper price
        bottom:
          type: string
          description: Grid lower price
        row:
          type: number
          description: Number of grid levels
        grid_type:
          type: string
          description: "Grid spacing type: `arithmetic` (equal difference) or `geometric` (equal ratio)"
          enum: [arithmetic, geometric]
        trend:
          type: string
          description: "Grid direction: `long`, `short`, or `no_trend` (neutral)"
          enum: [long, short, no_trend]
        leverage:
          type: number
          description: Leverage multiplier
        extraMargin:
          type: string
          description: Extra margin amount
        quoteInvestment:
          type: string
          description: Investment amount
        condition:
          type: string
          description: Trigger price (for conditional orders)
        conditionDirection:
          type: string
          description: "Trigger direction: \"-1\" (price drops to) or \"1\" (price rises to)"
          enum: ["-1", "1"]
        lossStopType:
          type: string
          description: "Stop loss type: `price` (default), `profit_amount`, `profit_ratio`, `price_limit`"
          enum: [price, profit_amount, profit_ratio, price_limit]
        lossStop:
          type: string
          description: Stop loss value (interpretation depends on lossStopType)
        lossStopDelay:
          type: number
          description: Stop loss delay in seconds
        profitStopType:
          type: string
          description: "Take profit type: `price` (default), `profit_amount`, `profit_ratio`, `price_limit`"
          enum: [price, profit_amount, profit_ratio, price_limit]
        profitStop:
          type: string
          description: Take profit value (interpretation depends on profitStopType)
        profitStopDelay:
          type: number
          description: Take profit delay in seconds
        lossStopHigh:
          type: string
          description: Upper stop loss price for neutral grid (above top)
        shareRatio:
          type: string
          description: Profit sharing ratio
        investCoin:
          type: string
          description: "Investment currency: `USDT` or quote currency (default)"
        investmentFrom:
          type: string
          description: "Funding source: `USER` (default), `LOCK_ACTIVITY`, `FUTURE_GRID_BONUS`"
          enum: [USER, LOCK_ACTIVITY, FUTURE_GRID_BONUS]
        uiInvestCoin:
          type: string
          description: Frontend-recorded investment currency type (stored only)
        lossStopLimitPrice:
          type: string
          description: Limit stop loss price (when lossStopType=price_limit)
        lossStopLimitHighPrice:
          type: string
          description: Upper limit stop loss price for neutral grid (when lossStopType=price_limit)
        profitStopLimitPrice:
          type: string
          description: Limit take profit price (when profitStopType=price_limit)
        slippage:
          type: string
          description: "Open position slippage (e.g. \"0.01\" = 1%)"
        bonusId:
          type: string
          description: Bonus UUID (when investmentFrom=FUTURE_GRID_BONUS)
        uiExtraData:
          type: string
          description: Frontend extra data for coin-margined futures grid
        movingIndicatorType:
          type: string
          description: "Moving indicator type (e.g. `sma`)"
        movingIndicatorInterval:
          type: string
          description: "Moving indicator interval (e.g. 1m, 15m, 30m, 1h, 4h, 12h)"
        movingIndicatorParam:
          type: string
          description: 'Moving indicator parameters JSON (e.g. {"length":720})'
        movingTrailingUpParam:
          type: string
          description: "SMA trailing up trigger ratio (e.g. 0.05)"
        cateType:
          type: string
          description: "Category type"
          enum: [FULLY_HEDGING, LOAN_GRID, LEVERAGE_GRID, FUTURE_GRID_COIN_MARGINED]
        movingTop:
          type: string
          description: Moving grid upper limit
        movingBottom:
          type: string
          description: Moving grid lower limit
        enableFollowClosed:
          type: boolean
          description: Whether to follow close

    CheckFuturesGridParamsRequest:
      type: object
      required: [base, quote, buOrderData]
      properties:
        base:
          type: string
          description: "Base currency, must end with `.PERP`"
          example: BTC.PERP
        quote:
          type: string
          description: Quote currency
          example: USDT
        buOrderData:
          $ref: '#/components/schemas/CheckFuturesGridParamsOrderData'

    CheckFuturesGridParamsOrderData:
      type: object
      required: [top, bottom, row, grid_type, trend, leverage, quote_investment]
      properties:
        top:
          type: string
          description: "Grid upper price. Must be greater than `bottom` and match the symbol's price precision."
        bottom:
          type: string
          description: "Grid lower price. Must be greater than 0 and match the symbol's price precision."
        row:
          type: integer
          description: Number of grid levels (2–500)
          minimum: 2
          maximum: 500
        grid_type:
          type: string
          description: "Grid spacing type: `arithmetic` (equal difference) or `geometric` (equal ratio)"
          enum: [arithmetic, geometric]
        trend:
          type: string
          description: "Grid direction: `long`, `short`, or `no_trend` (neutral)"
          enum: [long, short, no_trend]
        leverage:
          type: integer
          description: Leverage multiplier (1 to symbol's maximum leverage)
        extra_margin:
          type: boolean
          description: "`true` = reserve extra margin; `false` = do not reserve (default)"
          default: false
        quote_investment:
          type: string
          description: |
            Investment amount in quote currency (must be > 0 and >= `min_investment`).
            Passing `"0"` will return `result=false` with message `"less than min investment"` and partial data.
          example: "100"
        extra_margin_amount:
          type: string
          description: "Manual extra margin amount. Only applies when `extra_margin=false`. Must be >= 0. Omit or pass empty string to use 0."
        condition:
          type: string
          description: Trigger price. When set, the bot starts only after the price reaches this level.
        condition_direction:
          type: string
          description: "Trigger direction: `\"-1\"` price drops to trigger level, `\"1\"` price rises to trigger level"
          enum: ["-1", "1"]

    AdjustFuturesGridRequest:
      type: object
      required: [buOrderId, type, extraMargin, openPrice]
      properties:
        buOrderId:
          type: string
          description: Bot order ID
        type:
          type: string
          description: |
            Adjustment type:
            `invest_in` - Add investment,
            `adjust_params` - Modify grid range,
            `invest_in_trigger` - Trigger investment
          enum: [invest_in, adjust_params, invest_in_trigger]
        quoteInvestment:
          type: number
          description: |
            When type=invest_in: additional investment amount (must be > 0).
            When type=adjust_params: amount to add to investment.
        extraMargin:
          type: boolean
          description: "true: reserve extra margin, false: no extra margin"
        openPrice:
          type: number
          description: Current price
        bottom:
          type: string
          description: New grid lower price (required when type=adjust_params)
        top:
          type: string
          description: New grid upper price (required when type=adjust_params)
        row:
          type: number
          description: New grid level count (required when type=adjust_params)
        extraMarginAmount:
          type: number
          description: Extra margin amount to add (when type=adjust_params)
        isRecommend:
          type: boolean
          description: Whether using recommended parameters (when type=adjust_params)
        isReinvest:
          type: boolean
          description: Whether to reinvest total profit when modifying range (default false)
        investCoin:
          type: string
          description: "Investment currency: `USDT` or quote currency (default)"
        investmentFrom:
          type: string
          description: "Funding source: `USER` (default) or `LOCK_ACTIVITY`"
          enum: [USER, LOCK_ACTIVITY]
        condition:
          type: string
          description: Trigger price (when type=invest_in_trigger)
        conditionDirection:
          type: string
          description: "Trigger direction: \"1\" (above current) or \"-1\" (below current)"
          enum: ["1", "-1"]
        slippage:
          type: string
          description: Slippage for add investment / modify range
        adjustParamsSence:
          type: string
          description: "When type=adjust_params: `reinvest` means keep params, add current profit to investment"

    ReduceFuturesGridRequest:
      type: object
      required: [buOrderId, openPrice, reduceNum]
      properties:
        buOrderId:
          type: string
          description: Bot order ID
        openPrice:
          type: string
          description: Current price
        reduceNum:
          type: number
          description: "Reduction amount: order precision * reduceNum"
        slippage:
          type: string
          description: Reduction slippage
        condition:
          type: string
          description: Trigger reduction price (must be > 0)
        conditionDirection:
          type: string
          description: "Trigger direction: \"1\" (above current) or \"-1\" (below current)"
          enum: ["1", "-1"]

    ReduceFuturesGridResponse:
      type: object
      properties:
        checkResult:
          type: boolean
          description: Check result
        reason:
          type: string
          description: |
            Failure reason:
            `LOSS_GTE_INVESTMENT` - Total equity minus dynamic margin <= 0,
            `POSITION_TOO_SMALL` - Position too small to reduce,
            `REDUCE_TOO_MUCH` - reduceNum too large,
            `REDUCE_TOO_SMALL` - reduceNum too small,
            `SYMBOL_MAINTENANCE` - Symbol under maintenance
          enum:
            - LOSS_GTE_INVESTMENT
            - POSITION_TOO_SMALL
            - REDUCE_TOO_MUCH
            - REDUCE_TOO_SMALL
            - SYMBOL_MAINTENANCE

    CancelFuturesGridRequest:
      type: object
      properties:
        buOrderId:
          type: string
          description: Bot order ID
        closeNote:
          type: string
          description: Close note
        closeSellModel:
          type: string
          description: |
            Close sell mode:
            `TO_QUOTE` - Close position only (default),
            `TO_USDT` - Close position and sell quote to USDT
          enum: [TO_QUOTE, TO_USDT]
        immediate:
          type: boolean
          description: Immediately close with market price (when order is in limit close process)
        closeSlippage:
          type: string
          description: "Close position slippage (e.g. \"0.01\" = 1%)"

    # =========================================================================
    # Spot Grid schemas
    # =========================================================================

    SpotGridOrder:
      type: object
      description: Spot grid bot order (wraps OrderResult with GridV5OrderData)
      properties:
        buOrderType:
          type: string
          description: Order type (always `grid_v5` for spot grid)
          example: grid_v5
        buOrderId:
          type: string
          description: Bot order ID
        userId:
          type: string
          description: User ID
        keyId:
          type: string
          description: API Key ID
        exchange:
          type: string
          description: Exchange identifier
          example: pionex.v2
        base:
          type: string
          description: Base currency
          example: BTC
        quote:
          type: string
          description: Quote currency
          example: USDT
        status:
          type: string
          description: Order status
        createTime:
          type: integer
          format: int64
          description: Creation timestamp in milliseconds
        closeTime:
          type: integer
          format: int64
          description: Close timestamp in milliseconds
        note:
          type: string
          description: Order note
        buOrderData:
          $ref: '#/components/schemas/SpotGridOrderData'

    SpotGridOrderData:
      type: object
      description: Spot grid order detail data (GridV5OrderData)
      properties:
        buOrderId:
          type: string
          description: Bot order ID
        top:
          type: string
          description: Grid upper price
        bottom:
          type: string
          description: Grid lower price
        row:
          type: integer
          format: int64
          description: Number of grid levels
        lossStopType:
          type: string
          description: "Stop loss mode: `price`, `profit_amount`, `profit_ratio`"
          enum: [price, profit_amount, profit_ratio]
        lossStop:
          type: string
          description: |
            Stop loss threshold. Interpretation depends on `lossStopType`:
            - `price`: price value (e.g. `"40000"`)
            - `profit_amount`: loss amount in quote currency (e.g. `"-50"`)
            - `profit_ratio`: loss ratio (e.g. `"-0.1"` = -10%)
        lossStopDelay:
          type: integer
          format: int64
          description: Seconds to wait after stop loss condition is first met before executing. `0` means immediate.
        profitStopType:
          type: string
          description: "Take profit mode: `price`, `profit_amount`, `profit_ratio`"
          enum: [price, profit_amount, profit_ratio]
        profitStop:
          type: string
          description: |
            Take profit threshold. Interpretation depends on `profitStopType`:
            - `price`: price value (e.g. `"55000"`)
            - `profit_amount`: profit amount in quote currency (e.g. `"100"`)
            - `profit_ratio`: profit ratio (e.g. `"0.1"` = 10%)
        profitStopDelay:
          type: integer
          format: int64
          description: Seconds to wait after take profit condition is first met before executing. `0` means immediate.
        condition:
          type: string
          description: Trigger price set at creation (optional)
          example: "45000"
        conditionDirection:
          type: string
          description: "Trigger direction: `\"-1\"` price drops below condition, `\"1\"` price rises above condition"
          enum: ["-1", "1"]
        baseTotalInvestment:
          type: string
          description: Total base currency investment
        quoteTotalInvestment:
          type: string
          description: Total quote currency investment
        gridType:
          type: string
          description: "Grid spacing type: `arithmetic` or `geometric`"
          enum: [arithmetic, geometric]
        openPrice:
          type: string
          description: Market price at order creation
        earnCoin:
          type: string
          description: Profit-earning currency (always quote)
        trend:
          type: string
          description: "Grid direction (always `long` for spot grid)"
          example: long
        status:
          type: string
          description: |
            Bot status:
            `prepare`, `lock_currency`, `init_grid`, `running`,
            `destroy_grid`, `unlock_currency`, `canceled`
        createTime:
          type: integer
          format: int64
          description: Status change timestamp in milliseconds
        baseInvestment:
          type: string
          description: Actual base investment amount
        quoteInvestment:
          type: string
          description: Actual quote investment amount
        perVolume:
          type: string
          description: Volume per grid level
        baseAmount:
          type: string
          description: Current base balance in bot account
        quoteAmount:
          type: string
          description: Current quote balance in bot account
        realizedProfit:
          type: string
          description: Total realized profit (grid profit + float P&L)
        gridProfit:
          type: string
          description: Accumulated grid profit
        totalCostInBase:
          type: string
          description: Total cost in base currency
        totalCostInQuote:
          type: string
          description: Total cost in quote currency
        totalFeeInBase:
          type: string
          description: Total fee in base currency
        totalFeeInQuote:
          type: string
          description: Total fee in quote currency
        averageCost:
          type: string
          description: Average cost price
        profitWithdrawn:
          type: string
          description: Total profit extracted so far
        reasonBy:
          type: string
          description: |
            Close reason:
            `user_cancel`, `loss_stop`, `profit_stop`, `not_enough_balance`, `create_failed`
        investCoin:
          type: string
          description: "Investment currency: `USDT` or quote currency"
        closeSellModel:
          type: string
          description: |
            Close sell mode:
            `TO_QUOTE` - Return base+quote as-is,
            `TO_USDT` - Sell base to quote on close
          enum: [TO_QUOTE, TO_USDT]
        slippage:
          type: string
          description: "Open position slippage (e.g. \"0.01\" = 1%)"
        pausePrice:
          type: string
          description: Price when paused
        profitAutoReinvest:
          type: boolean
          description: Whether profit auto-reinvest is enabled
        breakEvenWithoutGridProfit:
          type: string
          description: Break-even price (excluding grid profit)
        breakEvenWithGridProfit:
          type: string
          description: Break-even price (including grid profit)
        openQuotePrice:
          type: string
          description: Quote/USDT price at order creation

    SpotGridAiStrategy:
      type: object
      description: AI-recommended spot grid strategy
      properties:
        annualized:
          type: string
          description: Annualized return of the recommended strategy
        totalApr:
          type: string
          description: Total APR
        high:
          type: string
          description: Recommended grid upper price
        low:
          type: string
          description: Recommended grid lower price
        gridCount:
          type: integer
          description: Recommended number of grid levels
        strategyId:
          type: string
          description: Strategy ID
        volatility:
          type: string
          description: Market volatility indicator
        maxDrawDown:
          type: string
          description: Maximum drawdown
        options:
          type: array
          description: List of strategy options by time period
          items:
            $ref: '#/components/schemas/SpotGridAiStrategyOption'

    SpotGridAiStrategyOption:
      type: object
      description: AI strategy option for a specific backtesting period
      properties:
        period:
          type: integer
          description: "Backtesting period in days (e.g. 7, 14, 30)"
        annualized:
          type: string
          description: Annualized return for this period
        totalApr:
          type: string
          description: Total APR for this period
        high:
          type: string
          description: Grid upper price for this period
        low:
          type: string
          description: Grid lower price for this period
        gridCount:
          type: integer
          description: Number of grid levels for this period
        maxDrawDown:
          type: string
          description: Maximum drawdown for this period
        volatility:
          type: string
          description: Volatility for this period
        suitabilityMin:
          type: integer
          description: Minimum suitability score
        suitabilityMax:
          type: integer
          description: Maximum suitability score

    CreateSpotGridRequest:
      type: object
      required: [base, quote, buOrderData]
      properties:
        base:
          type: string
          description: Base currency
          example: BTC
        quote:
          type: string
          description: Quote currency
          example: USDT
        note:
          type: string
          description: Optional order note
        buOrderData:
          $ref: '#/components/schemas/CreateSpotGridOrderData'

    CreateSpotGridOrderData:
      type: object
      required: [top, bottom, row, gridType, quoteTotalInvestment]
      properties:
        top:
          type: string
          description: Grid upper price
          example: "50000"
        bottom:
          type: string
          description: Grid lower price
          example: "40000"
        row:
          type: integer
          format: int64
          description: Number of grid levels (2–200)
          example: 20
        gridType:
          type: string
          description: "Grid spacing type: `arithmetic` (equal difference) or `geometric` (equal ratio)"
          enum: [arithmetic, geometric]
          example: "arithmetic"
        quoteTotalInvestment:
          type: string
          description: Quote currency investment amount
          example: "1000"
        lossStopType:
          type: string
          description: |
            Stop loss mode:
            `price` — trigger when market price reaches `lossStop`,
            `profit_amount` — trigger when unrealized loss reaches `lossStop` amount,
            `profit_ratio` — trigger when unrealized loss reaches `lossStop` ratio (e.g. `"-0.1"` = -10%)
          enum: [price, profit_amount, profit_ratio]
        lossStop:
          type: string
          description: |
            Stop loss threshold. Interpretation depends on `lossStopType`:
            - `price`: price value (e.g. `"40000"`)
            - `profit_amount`: loss amount in quote currency (e.g. `"-50"`)
            - `profit_ratio`: loss ratio (e.g. `"-0.1"` = -10%)
        lossStopDelay:
          type: integer
          format: int64
          description: |
            Seconds to wait after stop loss condition is first met before executing.
            During the delay the condition must remain satisfied; if it recovers the timer resets.
            Omit or set to `0` to trigger immediately.
        profitStopType:
          type: string
          description: |
            Take profit mode:
            `price` — trigger when market price reaches `profitStop`,
            `profit_amount` — trigger when realized profit reaches `profitStop` amount,
            `profit_ratio` — trigger when realized profit reaches `profitStop` ratio (e.g. `"0.1"` = 10%)
          enum: [price, profit_amount, profit_ratio]
        profitStop:
          type: string
          description: |
            Take profit threshold. Interpretation depends on `profitStopType`:
            - `price`: price value (e.g. `"55000"`)
            - `profit_amount`: profit amount in quote currency (e.g. `"100"`)
            - `profit_ratio`: profit ratio (e.g. `"0.1"` = 10%)
        profitStopDelay:
          type: integer
          format: int64
          description: |
            Seconds to wait after take profit condition is first met before executing.
            During the delay the condition must remain satisfied; if it recovers the timer resets.
            Omit or set to `0` to trigger immediately.
        condition:
          type: string
          description: Trigger price — bot starts only when price crosses this level (optional)
          example: "45000"
        conditionDirection:
          type: string
          description: "Trigger direction: `\"-1\"` price drops below condition, `\"1\"` price rises above condition"
          enum: ["-1", "1"]
        slippage:
          type: string
          description: "Open position slippage tolerance (e.g. \"0.01\" = 1%)"
        closeSellModel:
          type: string
          description: |
            Close sell mode on cancellation:
            `NOT_SELL` - Keep base+quote as-is, do not sell (default),
            `TO_QUOTE` - Sell base to quote on close,
            `TO_USDT` - Sell base to USDT on close
          enum: [NOT_SELL, TO_QUOTE, TO_USDT]
          default: NOT_SELL

    CheckSpotGridParamsRequest:
      type: object
      required: [base, quote, buOrderData]
      properties:
        base:
          type: string
          description: Base currency
          example: BTC
        quote:
          type: string
          description: Quote currency
          example: USDT
        buOrderData:
          $ref: '#/components/schemas/CheckSpotGridParamsOrderData'

    CheckSpotGridParamsOrderData:
      type: object
      required: [top, bottom, row, grid_type, quote_total_investment]
      properties:
        top:
          type: string
          description: "Grid upper price. Must be a valid numeric string, strictly greater than `bottom`."
          example: "50000"
        bottom:
          type: string
          description: "Grid lower price. Must be a valid numeric string."
          example: "40000"
        row:
          type: integer
          description: "Number of grid levels (2–1000)."
          minimum: 2
          maximum: 1000
          example: 20
        grid_type:
          type: string
          description: "Grid spacing type: `arithmetic` (equal difference) or `geometric` (equal ratio)"
          enum: [arithmetic, geometric]
          example: arithmetic
        quote_total_investment:
          type: string
          description: |
            Investment amount in quote currency (must be > 0 and >= `min_investment`).
            Passing `"0"` will return `result=false` with message `"less than min investment"` and partial data.
          example: "100"
        condition:
          type: string
          description: Trigger price. When set, the bot starts only after the price reaches this level.
        condition_direction:
          type: string
          description: "Trigger direction: `\"-1\"` price drops to trigger level, `\"1\"` price rises to trigger level"
          enum: ["-1", "1"]

    AdjustSpotGridParamsRequest:
      type: object
      required: [buOrderId]
      properties:
        buOrderId:
          type: string
          description: Bot order ID
        top:
          type: string
          description: New grid upper price
        bottom:
          type: string
          description: New grid lower price
        row:
          type: integer
          format: int32
          description: New number of grid levels
        quoteInvest:
          type: string
          description: Additional quote investment amount

    InvestInSpotGridRequest:
      type: object
      required: [buOrderId, quoteInvest]
      properties:
        buOrderId:
          type: string
          description: Bot order ID
        quoteInvest:
          type: string
          description: Additional investment amount in quote currency
          example: "100"

    CancelSpotGridRequest:
      type: object
      required: [buOrderId]
      properties:
        buOrderId:
          type: string
          description: Bot order ID
        closeSellModel:
          type: string
          description: |
            Close sell mode set at creation:
            `NOT_SELL` - Keep base+quote as-is (default),
            `TO_QUOTE` - Sell base to quote on close,
            `TO_USDT` - Sell base to USDT on close
          enum: [NOT_SELL, TO_QUOTE, TO_USDT]
        slippage:
          type: string
          description: "Close position slippage (e.g. \"0.01\" = 1%)"

    ProfitSpotGridRequest:
      type: object
      required: [buOrderId, amount]
      properties:
        buOrderId:
          type: string
          description: Bot order ID
        amount:
          type: string
          description: Amount to extract
          example: "50"

    TransferRecord:
      type: object
      description: Record of a profit extraction transfer
      properties:
        transferId:
          type: string
          description: Transfer ID
        buOrderId:
          type: string
          description: Bot order ID
        type:
          type: string
          description: "Transfer type (e.g. `profit`)"
        direction:
          type: string
          description: "Transfer direction: `out` (extract from bot)"
          example: out
        coin:
          type: string
          description: Transfer currency
        amount:
          type: string
          description: Transfer amount
        amountC:
          type: string
          description: Transfer amount in platform currency
        status:
          type: string
          description: Transfer status
        createTime:
          type: integer
          format: int64
          description: Transfer timestamp in milliseconds
        error:
          type: string
          description: Error message (if failed)

    FuturesGridCheckParamsData:
      type: object
      description: |
        Futures grid parameter check result data.

        **When result=true**: All fields are populated with full estimate data.
        Liquidation price fields are cleared when `quote_investment` is outside [`min_investment`, `max_investment`].

        **When result=false with data (FailedWithData)**: Only `min_investment`, `max_investment`, and `slippage`
        are valid; all other estimate fields are empty. This occurs when `message` is one of:
        `"quote_investment not match spending precision: max {N} decimal places"`,
        `"extra_margin_amount not match spending precision: max {N} decimal places"`,
        `"grid profit per volume less than 0"`, or `"less than min investment"`.
      properties:
        min_investment:
          type: string
          description: Minimum investment amount in quote currency
          example: "10.5"
        max_investment:
          type: string
          description: Maximum investment amount in quote currency
          example: "50000"
        slippage:
          type: string
          description: "Recommended opening slippage (e.g. `\"0.01\"` = 1%)"
        estimate_per_volume:
          type: string
          description: "Estimated per-grid buy/sell quantity."
        estimate_investment:
          type: string
          description: "Estimated amount allocated to investment (position margin + order margin + fee)."
        estimate_extra_margin:
          type: string
          description: "Estimated extra margin reserved."
        estimate_fee:
          type: string
          description: "Estimated opening trading fee."
        estimate_position_occupy_margin:
          type: string
          description: "Estimated margin occupied by open positions."
        estimate_order_occupy_margin:
          type: string
          description: "Estimated margin occupied by pending open orders."
        estimate_position:
          type: string
          description: "Estimated position opened immediately at order creation. Positive = long, negative = short."
        estimate_liquidation_price_up:
          type: string
          description: "Estimated upper liquidation price. Returns `\"0\"` for long-only grids (no upper liquidation risk). Empty when `quote_investment` is out of [`min_investment`, `max_investment`]."
        estimate_liquidation_price_down:
          type: string
          description: "Estimated lower liquidation price. Returns `\"0\"` for short-only grids (no lower liquidation risk). Empty when `quote_investment` is out of [`min_investment`, `max_investment`]."

    SpotGridCheckParamsData:
      type: object
      description: |
        Spot grid parameter check result data.

        **When result=true**: All fields are populated.

        **When result=false with data (FailedWithData)**: Only `min_investment`, `max_investment`, and `slippage`
        are valid; all other estimate fields are empty. This occurs when `message` is one of:
        `"grid price duplicated: reduce row or widen range"`,
        `"quote_total_investment not match quote precision: max {N} decimal places"`, or `"less than min investment"`.
      properties:
        min_investment:
          type: string
          description: Minimum investment amount in quote currency
          example: "10"
        max_investment:
          type: string
          description: Maximum investment amount in quote currency
          example: "100000"
        slippage:
          type: string
          description: "Recommended opening slippage (e.g. `\"0.01\"` = 1%)"
        estimate_per_volume:
          type: string
          description: "Estimated per-grid buy/sell quantity."
        estimate_fee:
          type: string
          description: "Estimated opening trading fee."

    CheckParamsResponse:
      $ref: '#/components/schemas/SpotGridCheckParamsData'

    # =========================================================================
    # Smart Copy schemas
    # =========================================================================

    CheckSmartCopyParamsRequest:
      type: object
      required: [base, quote, leverage, quote_investment]
      properties:
        base:
          type: string
          description: Base currency (e.g. BTC)
          example: BTC
        quote:
          type: string
          description: Quote currency (e.g. USDT)
          example: USDT
        signal_type:
          type: string
          description: Signal type identifier. Optional — omit to check without a specific signal.
        signal_param:
          type: string
          description: Signal parameters JSON string. Optional.
        leverage:
          type: integer
          format: int64
          description: Leverage multiplier (>= 1)
          minimum: 1
          example: 2
        quote_investment:
          type: string
          description: Investment amount in quote currency to check against limits.
          example: "500"

    CheckSmartCopyParamsData:
      type: object
      description: Smart copy parameter check result data.
      properties:
        result:
          type: boolean
          description: Whether the investment is within limits
        max_investment:
          type: string
          description: Maximum allowed investment amount in quote currency
          example: "10000"
        max_leverage:
          type: string
          description: Maximum allowed leverage
          example: "10"
        notional_limit:
          type: string
          description: Total notional limit (quote_investment * leverage ceiling)
          example: "100000"
        available_limit:
          type: string
          description: Remaining available notional for this base/quote/signal combination
          example: "80000"

    CreateSmartCopyOrderRequest:
      type: object
      required: [base, quote, bu_order_data]
      properties:
        base:
          type: string
          description: Base currency (e.g. BTC)
          example: BTC
        quote:
          type: string
          description: Quote currency (e.g. USDT)
          example: USDT
        key_id:
          type: string
          description: API Key ID. Optional — derived from the API key used for authentication when omitted.
        note:
          type: string
          description: Optional order note
        copy_from:
          type: string
          description: Source order ID to copy from (for copy trade orders)
        copy_type:
          type: string
          description: Copy type identifier
        bu_order_data:
          $ref: '#/components/schemas/CreateSmartCopyOrderBuOrderData'

    CreateSmartCopyOrderBuOrderData:
      type: object
      required: [quote_total_investment, portfolio]
      properties:
        quote_total_investment:
          type: string
          description: Total investment amount in quote currency
          example: "500"
        compound:
          type: boolean
          description: Whether to enable compound interest (reinvest profits)
          default: false
        profit_stop_maker:
          type: boolean
          description: Whether to enable profit stop maker
          default: false
        portfolio:
          type: array
          description: List of portfolio items (at least 1 required)
          minItems: 1
          items:
            $ref: '#/components/schemas/SmartCopyPortfolioItemRequest'

    SmartCopyPortfolioItemRequest:
      type: object
      required: [base, signal_type, leverage]
      properties:
        base:
          type: string
          description: Base currency for this portfolio item
          example: BTC
        signal_type:
          type: string
          description: Signal type identifier
          example: my_signal
        signal_param:
          type: string
          description: Signal parameters JSON string. Optional.
          example: '{"direction":"long"}'
        percent:
          type: string
          description: Allocation percentage of total investment for this item (e.g. "1" = 100%)
          example: "1"
        leverage:
          type: integer
          format: int64
          description: Leverage multiplier for this item (>= 1)
          minimum: 1
          example: 2
        profit_stop_ratio:
          type: string
          description: Take profit ratio (e.g. "0.5" = 50% profit triggers close)
        loss_stop_ratio:
          type: string
          description: Stop loss ratio (e.g. "-0.2" = 20% loss triggers close)

    CreateSmartCopyOrderResponse:
      type: object
      properties:
        bu_order_id:
          type: string
          description: Created bot order ID
          example: "550e8400-e29b-41d4-a716-446655440000"

    CancelSmartCopyOrderRequest:
      type: object
      required: [bu_order_id]
      properties:
        bu_order_id:
          type: string
          description: Bot order ID to cancel
          example: "550e8400-e29b-41d4-a716-446655440000"
        close_note:
          type: string
          description: Optional close reason note
        convert_into_earn_coin:
          type: boolean
          description: Whether to convert remaining assets into earn coin on close
          default: false

    CancelSmartCopyOrderResponse:
      type: object
      properties:
        success:
          type: boolean
          description: Whether the cancellation was accepted

    SmartCopyOrderDetail:
      type: object
      description: Smart copy bot order detail
      properties:
        buOrderId:
          type: string
          description: Bot order ID
        buOrderType:
          type: string
          description: Bot order type (always `smart_copy`)
        userId:
          type: string
          description: User ID
        keyId:
          type: string
          description: API Key ID
        exchange:
          type: string
          description: Exchange identifier
          example: pionex.v2
        base:
          type: string
          description: Base currency
        quote:
          type: string
          description: Quote currency
        status:
          type: string
          description: Order status
        createTime:
          type: integer
          format: int64
          description: Creation timestamp in milliseconds
        closeTime:
          type: integer
          format: int64
          description: Close timestamp in milliseconds
        copyFrom:
          type: string
          description: Source order ID (for copy trade orders)
        copyType:
          type: string
          description: Copy type
        strategyId:
          type: string
          description: Strategy ID
        canceling:
          type: integer
          format: int64
          description: Canceling flag
        note:
          type: string
          description: Order note
        closeNote:
          type: string
          description: Close note
        customizeName:
          type: string
          description: Custom name
        buOrderData:
          $ref: '#/components/schemas/SmartCopyOrderData'

    SmartCopyOrderData:
      type: object
      properties:
        buOrderId:
          type: string
          description: Bot order ID
        kolSignalId:
          type: string
          description: KOL signal ID
        quoteTotalInvestment:
          type: string
          description: Current total investment in quote currency
        quoteOriginalInvestment:
          type: string
          description: Original investment amount in quote currency
        currentQuoteAmount:
          type: string
          description: Current quote amount in the bot account
        initQuotePrice:
          type: string
          description: Quote/USDT price at order creation
        closedQuoteAmount:
          type: string
          description: Quote amount returned on close
        closedQuotePrice:
          type: string
          description: Quote/USDT price at close
        convertIntoEarnCoin:
          type: integer
          format: int64
          description: Whether assets were converted to earn coin on close
        reasonBy:
          type: string
          description: Close reason (e.g. `user_cancel`, `create_failed`)
        profit:
          type: string
          description: Total profit in quote currency
        status:
          type: string
          description: Order data status
        shareRatio:
          type: string
          description: Profit sharing ratio
        sharedProfit:
          type: string
          description: Total profit shared
        closedSharedQuote:
          type: string
          description: Quote amount deducted for profit sharing on close
        tradeType:
          type: string
          description: "Trade type: `futures` or `spot`"
          enum: [futures, spot]
        fundingFee:
          type: string
          description: Total funding fee paid
        roundCount24h:
          type: integer
          format: int64
          description: Number of completed signal rounds in the last 24 hours
        kolName:
          type: string
          description: KOL name
        kolImage:
          type: string
          description: KOL avatar URL
        signalName:
          type: string
          description: Signal display name
        market:
          type: string
          description: Market type
        portfolio:
          type: array
          description: Portfolio item details
          items:
            $ref: '#/components/schemas/SmartCopyPortfolioItem'

    SmartCopyPortfolioItem:
      type: object
      properties:
        tradeBase:
          type: string
          description: Actual trading base currency
        buOrderId:
          type: string
          description: Bot order ID
        base:
          type: string
          description: Base currency for this portfolio item
        signalType:
          type: string
          description: Signal type identifier
        signalParam:
          type: string
          description: Signal parameters
        percent:
          type: string
          description: Allocation percentage
        initPrice:
          type: string
          description: Price at position open
        closedPrice:
          type: string
          description: Price at position close
        currentBaseAmount:
          type: string
          description: Current base amount held
        closedBaseAmount:
          type: string
          description: Base amount returned on close
        closedQuoteAmount:
          type: string
          description: Quote amount returned on close
        totalFeeInBase:
          type: string
          description: Total trading fees in base currency
        totalFeeInQuote:
          type: string
          description: Total trading fees in quote currency
        profit:
          type: string
          description: Profit for this portfolio item
        roundCount:
          type: integer
          format: int64
          description: Total completed signal rounds
        currentRound:
          type: integer
          format: int64
          description: Current signal round number
        currentRoundMonth:
          type: string
          description: Current round month label
        status:
          type: string
          description: Portfolio item status
        expiredAt:
          type: integer
          format: int64
          description: Expiry timestamp in milliseconds (0 = no expiry)
        sharedAmount:
          type: string
          description: Profit sharing amount for this item
        leverage:
          type: integer
          format: int64
          description: Leverage multiplier
        fundingFee:
          type: string
          description: Funding fee for this item
        qtyLong:
          type: string
          description: Long position quantity
        qtyShort:
          type: string
          description: Short position quantity
        amountLong:
          type: string
          description: Long position amount in quote
        amountShort:
          type: string
          description: Short position amount in quote
        amountSettle:
          type: string
          description: Settlement amount
        maintPrice:
          type: string
          description: Maintenance margin price
        profitRoundCount:
          type: integer
          format: int64
          description: Number of profitable rounds
        profitPositive:
          type: string
          description: Total positive profit accumulated

    # =========================================================================
    # Signal schemas
    # =========================================================================

    SignalListenerRequest:
      type: object
      required: [signalType, signalParam, base, quote, time, price, data]
      properties:
        signalType:
          type: string
          description: Signal type identifier (ASCII, max 1000 chars)
          example: my_signal
        signalParam:
          type: string
          description: Signal parameters (ASCII, max 5000 chars)
          example: "{}"
        base:
          type: string
          description: Base currency (e.g. BTC)
          example: BTC
        quote:
          type: string
          description: Quote currency (e.g. USDT)
          example: USDT
        time:
          type: string
          format: date-time
          description: Signal trigger time (RFC3339)
          example: "2024-01-15T10:30:00Z"
        price:
          type: string
          description: Price at signal trigger time (ASCII, max 30 chars)
          example: "45000.5"
        data:
          $ref: '#/components/schemas/SignalListenerData'

    SignalListenerData:
      type: object
      required: [action, position_size, contracts]
      properties:
        action:
          type: string
[...]
